<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparrow.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sparrow.oms.domain.bean.Order">
        <id column="id" property="id"/>
        <result column="order_code" property="orderCode"/>
        <result column="service_node_id" property="serviceNodeId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="cust_ids" property="custIds"/>
        <result column="doc_date" property="docDate"/>
        <result column="delivery_date" property="deliveryDate"/>
        <result column="clerk" property="clerk"/>
        <result column="status" property="status"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="remark" property="remark"/>
        <result column="create_terminal_source" property="createTerminalSource"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_code, service_node_id, supplier_id, cust_ids, doc_date, delivery_date, clerk, status, delete_flag,
        remark, create_terminal_source, create_by, update_by, create_time, update_time
    </sql>
    <select id="getList" resultType="com.sparrow.oms.domain.bean.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_order
    </select>

</mapper>